

<form action="<%= action_url %>" method="<%= form_method %>">
  <% if hidden_method %>
    <input type="hidden" name="_method" value="<%= hidden_method %>"/>
  <% end%>

  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]" value="<%= cat.name %>" />
  <br/>
  <label for="color">Color</label>
  <input id="color" type="text" name="cat[color]" value="<%= cat.color %>" />
  <br/>
  <label for="birth_date">Birth Date</label>
  <input id="birth_date" type="text" name="cat[birth_date]" value="<%= cat.birth_date %>" />
  <br/>
  <label for="sex">Sex</label>
  <input id="sex" type="text" name="cat[sex]" value="<%= cat.sex %>" />
  <br/>
  <label for="description">Description</label>
  <input id="description" type="text" name="cat[description]" value="<%= cat.description %>" />
  <br/>
  <input type="submit" value="<%= button_text %>" />

</form>